{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="home.css" />
    <h4 style="color: red;"> {{error}}</h4>
    <br/>
    <div>
        <h1 class="text-center">Login</h1>
        <br/>
        <form method="POST" action="{% url 'home' %}" class="col-4" style="margin-left: auto; margin-right: auto;">
            {% csrf_token %}
            Username: <br/>
            <input type="text" name="username"><br/>
            Password: <br/>
            <input type="password" name="password"/><br/>
            <br/>
            <input type="submit" value="Login" class="btn btn-primary"/>
        
        </form>
    </div>
{% endblock %}